name: Generate Javadoc

on:
  release:
    types: [created]
    
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
  
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'
          server-id: github
          settings-path: ${{ github.workspace }}
          
      - name: Run chmod to make gradlew executable
        run: chmod +x ./gradlew
        
      - name: Generate Javadocs with Dokka
        run: ./gradlew dokkaHtmlJar
